@{
    ViewData["Title"] = "Home Page of Admin Area";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Admin Area.</h1>
</div>

<ul>
    <li class="active"><a asp-area="Admin" asp-controller="Admin" asp-action="ManageUsers">Manage User's Roles</a></li>
</ul>