@using ASPNET_WebApp.Core.Models
@model IEnumerable<UserListViewModel>
@{
}

<div class="row">
    <div class="col-12">
        <div class="text-white">
            <div class="card-header">
                <h3 class="card-title">Application Users</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 20%;">
                        <input type="text" name="table_search" class="form-control float-right" style="color: white; background: #0b0c2a;" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="text-white btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="text-white table text-nowrap">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>
                                    <a asp-area="admin" asp-action="edit" asp-controller="admin" asp-route-id="@user.UserId" class="btn btn-block btn-outline-info btn-xs">Edit</a>
                                    <a asp-area="admin" asp-action="roles" asp-controller="admin" asp-route-id="@user.UserId" class="btn btn-block btn-outline-warning btn-xs">Roles</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>