@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="text-white alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn btn-primary text-white" data-bs-dismiss="alert" aria-label="Close"></button>
        @Model
    </div>
}
