@using ASPNET_WebApp.Core.Models
@model AnimeEditViewModel
@{
	ViewData["Title"] = "Anime Edit";
	var genres = (List<SelectListItem>)ViewBag.Genres;
}

<div class="row">
	<div class="col-4 text-white">
		<form id="edit" enctype="multipart/form-data" method="post">
			<input type="hidden" asp-for="Id" name="Id" value="@Model.Id"/>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating">
				<label asp-for="Name" class="form-label"></label>
				<input asp-for="Name" class="form-control" aria-required="true" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating">
				<label asp-for="Image" class="form-label"></label>
				<input asp-for="Image" class="form-control" aria-required="true" />
				<span asp-validation-for="Image" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="Aired" class="form-label"></label>
				<input asp-for="Aired" class="form-control" aria-required="true" />
				<span asp-validation-for="Aired" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="Episodes" class="form-label"></label>
				<input asp-for="Episodes" class="form-control" aria-required="true" />
				<span asp-validation-for="Episodes" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="Status" class="form-label"></label>
				<input asp-for="Status" class="form-control" aria-required="true" />
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="Description" class="form-label"></label>
				<input asp-for="Description" class="form-control" aria-required="true" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="Studios" class="form-label"></label>
				<input asp-for="Studios" class="form-control" aria-required="true" />
				<span asp-validation-for="Studios" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="Producers" class="form-label"></label>
				<input asp-for="Producers" class="form-control" aria-required="true" />
				<span asp-validation-for="Producers" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="Duration" class="form-label"></label>
				<input asp-for="Duration" class="form-control" aria-required="true" />
				<span asp-validation-for="Duration" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="Rating" class="form-label"></label>
				<input asp-for="Rating" class="form-control" aria-required="true" />
				<span asp-validation-for="Rating" class="text-danger"></span>
			</div>
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="col-4">
					<button id="edit-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
				<!-- /.col -->
			</div>
		</form>
	</div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}