@{
    ViewData["Title"] = "Home Page of Anime Management";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Anime Management.</h1>
</div>

<ul>
    <li class="active"><a asp-area="" asp-controller="Anime" asp-action="ManageAnimes">Manage Animes</a></li>
</ul>